{% extends 'layouts/base.html.twig' %}

{% block title %}Pins!{% endblock %}

{% block body %}
{% if pins|length < 0 %}
    <h1 class="mt-5 text-center text-muted">{{ pluraliz(pins| length,"Pin") }}</h1>
    {% for pin in pins %}
        <h2><a href="{{ path('app_pins_show',{id:pin.id}) }}">{{ pin.title }} </a></h2>
        <p>{{ pin.description|u.truncate(10,'...',false) }}</p>
        <p>Submitted {{ pin.createAt|ago }}</p>
    {% endfor %}
{% else %}
    <h1>hello</h1>
    <p class="mt-4 text-center">Not pin yes!  Be the first to create a new pin <a href="{{ path('app_pins_create') }}">Create Pin</a></p>
{% endif %}


{% endblock %}
