{% extends 'layouts/base.html.twig' %} {% block title pin.title %} {% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <article class="pin bg-white rounded shadow">
            <div class="mw-100 rounded-top overflow-hidden">
                <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/default.png')) | imagine_filter('squar_thumbnail_medium') }} " alt="{{ pin.title }}" class="w-100 mt-5" />
            </div>
            <div class="p-3">
                <h2 class=" h5 text-secondary">{{ pin.title }}</h2>
                <p>
                    <small>
                        Submitted {{pin.createAt|ago}} by {{ pin.user.getFullName()}}
                    </small>
                </p>
                <p>{{pin.description}}</p>
                <div>
                    <a href="{{ path('app_pins_edit',{id: pin.id}) }}" class="btn btn-light">Edit</a>
                    <a class="btn btn-light" href="#" onclick=" event.preventDefault(); confirm('Are you sur ?') && document.getElementById('js-pin-delete-form').submit(); ">
                        Delete</a>

                    <form id="js-pin-delete-form" action="{{ path('app_pins_delete',{id: pin.id}) }}" method="post" style="display: none;">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_pin'~pin.id) }}">
                    </form>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}